<header>
  <div class="background">
      <div class="background-header">
          <a href="#"><img class="logo"
                  src="https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000056772/836e18f8-af2a-4c4b-b145-dd353cfea64a.png"
                  alt=""></a>
          <div class="header-content">
              <div class="content">
                  <h1><span>BOOK NOW & <span class="text-primary">SAVE</span></span></h1>
                  <h1><span>$100 OFF</span></h1>
                  <h1> <span>YOUR FIRST PHOTOGRAPHY OR DIGITAL PRO ORDER!</span></h1>
              </div>
          </div>
      </div>
  </div>
</header>