<header>
    <div class="all">

    
    <div class="logo">
      <a href="" routerLink="/"> <img   src="https://iweb.tatthanh.com.vn/pic/3/blog/images/image(1244).png" alt="" width="200px"></a> 
    </div>
    <div class="menu">
        <ul class="menu">
            <li>
              <a  routerLink="/home" class="menu-me">THƯƠNG HIỆU</a>
             
            </li>
            <li>
                <a routerLink="/allproduct" class="menu-me">LOẠI GIÀY</a>
              
            </li>
            <li>
                <a routerLink="/boyproduct" class="menu-me">GIÀY NAM</a>
              
            </li>
            <li>
                <a routerLink="/girlproduct" class="menu-me">GIÀY NỮ</a>
              
            </li>
            <li>
                <a href="#" class="menu-me">TIN TỨC</a>
              <ul>
               
              </ul>
            </li>
          </ul>
    </div>
    <div class="search-input">
        <div class="search-card">   
          
                <input type="text" id="searchInput" placeholder="Nhập từ khóa">
                <button onclick=""> <i class="gg-search" ></i></button>
        
              
            <!-- <mat-icon matBadge="16" matBadgeColor="warn"><i class="gg-shopping-cart"></i></mat-icon> -->
          
              <div *ngIf="!authService.isLoggedIn">
                <a  class="user" href="/login"><span class="material-icons">
                    person
                    </span></a>
              </div>
              
              <!-- Hiển thị nút Đăng Xuất nếu đã đăng nhập -->
              <div *ngIf="authService.isLoggedIn">
               <a class="user" routerLink="/logout" (click)="onLogOut()"><span>Đăng xuất</span></a>
              </div>
           
        </div>
       
    </div>
    
   
</div>
  
</header>
<div class="spacer"></div>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css' rel='stylesheet'>
