<h1 mat-dialog-title>{{titleBtn}} Product Form</h1>
<div mat-dialog-content>
    <form [formGroup]="cateForm">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
       
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>