<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

   

  <div class="container" *ngIf="product">
    <div class="img">
   
      <div class="image-gallery">
        <div class="main-image" *ngIf="mainImage">
          <img [src]="mainImage" alt="Main Image">
          <button (click)="previousImage()" class="back">
            <span class="material-symbols-outlined">arrow_back</span>
          </button>
          <button (click)="nextImage()" class="next">
            <span class="material-symbols-outlined">arrow_forward</span>
          </button>
        </div>
      </div>
      <div class="thumbnail-images">
        <div *ngFor="let image of thumbnails" class="thumbnail">
          <img [src]="image" alt="Thumbnail Image" (click)="changeImage(image)">
        </div>
      </div>
    </div>
   
   
    
    

  
   
    <div class="product-details" >
      
      <p *ngIf="categoryname">{{categoryname}}</p>
      <h1 class="product-title">{{product.name}}
      </h1>
      <p class="dg-sao">Đánh giá:</p>
      <div class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4">
        <label for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2">
        <label for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1">
        <label for="star1"></label>
      </div>

      <p class="product-price">{{product.price}}</p>
      <p><strong>Kiểu Dáng :</strong> <span> {{product.type}}</span></p>
      <p><strong>Giới tính :</strong> <span> {{product.sex}}</span></p>
      <p class="product-description"> <strong>{{product.name}}</strong> được thiết kế trẻ trung, năng động đến từ thương hiệu Nike nổi tiếng của Mỹ. Giày Thể Thao
        Nam Nike Air Jordan 1 Retro Low OG Doernbecher FD9665-351 được làm từ chất liệu cao cấp, là đôi giày cực kỳ linh
        hoạt, dễ dàng kết hợp với những item khó chiều</p>
<div>
  <button class="size" (click)="openDialog()">Hướng dẫn chọn size giày</button>   
</div>
      
     
        <mat-form-field>
          <mat-label>Chọn size giày </mat-label>
          <mat-select disableRipple>
            <mat-option value="1">39</mat-option>
            <mat-option value="2">40 </mat-option>
            <mat-option value="3">41</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Số Lượng </mat-label>
          <mat-select disableRipple>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      <button class="add-to-cart" routerLink="card">Add to Cart</button>
    </div>
  </div>
  <hr>
  <h1 class="tieude">Nhận xét</h1>
 
  <hr>
  <h1 class="tieude"> sản phẩm đề xuất</h1>
  
  
</body>
      
   
     
  


  