.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .container{
    max-width: auto;
    margin: 0 auto;
  }
#img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}