<footer>
    <div class="footer-end container">
        <div class="contact-1">
            <h3><span>CONTACT US</span></h3>
            <div  class="contact-text">
                <p>Client Services:</p>
                <p>Text/Call: <a href="">(800) 790-8687</a></p>
                <p>Email: <a href="">Support@VHT.com</a></p>
            </div>

            <p>Monday - Friday: 8am - 7pm CST</p>
            <p>Saturday: <a href=""> 9am - 1pm CST</a></p>
        </div>
        <div class="contact-2">
            <h3><span>Still have questions? </span></h3>
            <div class="contact-text">
                <p> <a href="">Click here</a> to get in touch with one of our marketing </p>
                <p>consultants or contact our Client Services department.</p>
            </div>
       
            
        </div>
    </div>
</footer>
