<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>username</mat-label>
    <input matInput type="username" formControlName="username">
    <mat-error *ngIf="loginForm.controls['username']">Invalid username format</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="loginForm.controls['password']">Password is required</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  <button mat-raised-button color="accent" (click)="openDialog1()">Đăng ký</button>
</form> -->
<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
  </div>
  <button type="submit">Login</button>
  <a href="/register">Đăng kí</a>
</form>
