<div class="banner">
  <img
    class="slide"
    src="https://admin.thegioigiay.com/upload//home-banner/07-02-2023/916923225_Cat%20&%20Sofa_1190x359.jpg"
    alt="Image 1"
  />
  <img
    class="slide"
    src="https://admin.thegioigiay.com/upload//home-banner/06-02-2023/587306286_The%20gioi%20giay_1190x359.jpg"
    alt="Image 2"
  />
  <img
    class="slide"
    src="https://admin.thegioigiay.com/upload//home-banner/22-02-2023/1688026743_GIAY-GIAM-GIA.jpg"
    alt="Image 3"
  />
  <img
    class="slide"
    src="https://bizweb.dktcdn.net/100/446/974/themes/849897/assets/slider_2.jpg?1683519811162"
    alt="Image 4"
  />
</div>

<div class="container">
  <h1>Thương Hiệu</h1>
  <div class="img-thuonghieu">
    <div class="th-1">
      <a href=""
        ><img
          src="https://admin.thegioigiay.com/upload/manufacturer/806467265_adidas-vn.jpg"
          alt=""
      /></a>
      <p>adidas</p>
    </div>

    <div class="th-1">
      <a href=""
        ><img
          src="https://admin.thegioigiay.com/upload/manufacturer/197996652_logo-nike.jpg"
          alt=""
      /></a>
      <p>nike</p>
    </div>

    <div class="th-1">
      <a href=""
        ><img
          src="https://admin.thegioigiay.com/upload/manufacturer/208507600_logo-burberry.jpg"
          alt=""
      /></a>
      <p>burberry</p>
    </div>

    <div class="th-1">
      <a href=""
        ><img
          src="https://admin.thegioigiay.com/upload/manufacturer/1872661884_logo-ysl.jpg"
          alt=""
      /></a>
      <p>ysl</p>
    </div>

    <div class="th-1">
      <a href=""
        ><img
          src="https://admin.thegioigiay.com/upload/manufacturer/1935627539_1960s_Gucci_Logo.svg.png"
          alt=""
      /></a>
      <p>gucci</p>
    </div>

    <div class="th-1">
      <a href=""
        ><img
          src="https://admin.thegioigiay.com/upload/manufacturer/450658152_Celine-logo.png"
          alt=""
      /></a>
      <p>celine</p>
    </div>
    <div class="th-1">
      <a href=""
        ><img
          src="https://admin.thegioigiay.com/upload/manufacturer/1872661884_dior-logo.png"
          alt=""
      /></a>
      <p>dior</p>
    </div>
  </div>
</div>

<section id="home-section">
  <div class="container">
    <div>
      <h1>LỰA CHỌN SẢN PHẨM BẠN THÍCH</h1>
      <div class="col-1">
        <div class="card-like">
          <div class="giay">
            <a href="">
              <img
                src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/FD2640-010-2_1080x.jpg?v=1682421264"
                alt=""
              />
              <div class="vongngoai">
                <p>giày nam </p>
              </div>
            </a>
          </div>

          <div class="giay">
            <a href="">
              <img
                src="https://bizweb.dktcdn.net/100/446/974/files/giay-mlb-chunky-liner-mid-classic-monogram-boston-red-sox-l-beige-3asxlm13n-43bgl-10.jpg?v=1675447793990"
                alt=""
              />
              <div class="vongngoai">
                <p>giày nữ </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <h1>GIÀY NAM</h1>
    
    <div class="row">
      <ng-container *ngFor="let product of  products | slice:0:16">
        <!-- Các sản phẩm trong trang hiện tại -->
        <div class="col-3" *ngIf="product.sex === 'Nam' ">
          <div class="card" >
            <a routerLink="/detail/{{ product._id }}">
              <div class="card-img-wrapper">
                <img src="{{ product?.imgs[0] }}" alt="" class="card-img-top" />
                <div class="card-price-overlay">
                  <h6 class="card-price">{{ product.price }}</h6>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ product.brand }}</p>
                <p class="card-name">{{ product.name }}</p>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <h1>GIÀY NỮ</h1>
    <div class="row" >
      <ng-container *ngFor="let product of  products | slice:0:16">
        <!-- Các sản phẩm trong trang hiện tại -->
        <div class="col-3" *ngIf="product.sex === 'Nữ' ">
          <div class="card" >
            <a routerLink="/detail/{{ product._id }}">
              <div class="card-img-wrapper">
                <img src="{{ product?.imgs[0] }}" alt="" class="card-img-top" />
                <div class="card-price-overlay">
                  <h6 class="card-price">{{ product.price }}</h6>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ product.brand }}</p>
                <p class="card-name">{{ product.name }}</p>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
      </div>
  </div>
  <!-- <div class="hailong">
   <div>
    <h2>LẤY SỰ HÀI LÒNG CỦA QUÝ KHÁCH LÀM TÔN CHỈ HOẠT ĐỘNG</h2>
      <p>
      Thegioigiay được ra đời bởi đội ngũ yêu thích và đam mê giày. Chúng tôi mong muốn được lan tỏa niềm đam mê này tới đông đảo khách hàng và cung cấp cho bạn những sản phẩm giày chính hãng chất lượng với giá thành cạnh tranh nhất thị trường. Tại Thegioigiay, chúng tôi cung cấp các sản phẩm giày chính hãng từ các thương hiệu như Adidas, Nike, Converse, Vans, MLB Korea, New Balance, Fila, Puma... Thegioigiay chúc bạn có những trải nghiệm tuyệt vời cùng những đôi giày tuyệt đẹp!
    </p> 
   </div>
      
      <div>
        <h2> KHÔNG CHỈ LÀ “GIÀY”, ĐÓ CÒN LÀ “ĐAM MÊ”</h2>
        <p>
         Giày không chỉ là trang phục trong cuộc sống, mà nó còn là một niềm đam mê bất tận. Là một tín đồ yêu giày - chắc hẳn bạn sẽ không thể chối từ cảm giác hài lòng mỗi khi nhận được chiếc hộp giày mới tinh, sắm cho mình được một đôi sneaker ưng ý, hay khi tự tạo nên phong cách thời trang của riêng mình bằng bộ sưu tập giày thời thượng và luôn luôn up-to-date với mọi xu hướng thời trang. Thegioigiay luôn hân hạnh giúp bạn tìm ra phong cách của chính mình!</p>
      </div>
     
  </div> -->
</section>
