.container{
    max-width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
h1{
    margin-top: 30px;
    text-align: center;
}
.img-thuonghieu {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 60px;
    width: 100px;
    height: 100px;

}
.img-thuonghieu img{
    width: 120px;
    margin-top:40px;

    
}
.th-1:hover{
 border: 1px solid gray;
    
}
.th-1{
   
    text-align: center;
}


