<div class="container">
  <h1>Thương Hiệu</h1>
  <div class="img-thuonghieu">
   
    <div class="th-1">
      <a href=""><img src="https://admin.thegioigiay.com/upload/manufacturer/806467265_adidas-vn.jpg" alt=""></a>
      <p>adidas</p>
    </div>
    
    <div class="th-1">
    <a href=""><img src="https://admin.thegioigiay.com/upload/manufacturer/197996652_logo-nike.jpg" alt=""></a>
    <p>nike</p>
  </div>

    <div class="th-1">
    <a href=""><img src="https://admin.thegioigiay.com/upload/manufacturer/208507600_logo-burberry.jpg" alt=""></a>
    <p>burberry</p>
  </div>
   
    <div class="th-1">
    <a href=""><img src="https://admin.thegioigiay.com/upload/manufacturer/1872661884_logo-ysl.jpg" alt=""></a>
    <p>ysl</p>
  </div>
 
    <div class="th-1">
    <a href=""><img src="https://admin.thegioigiay.com/upload/manufacturer/1935627539_1960s_Gucci_Logo.svg.png" alt=""></a>
    <p>gucci</p>
      </div>

    <div class="th-1">
    <a href=""><img src="https://admin.thegioigiay.com/upload/manufacturer/450658152_Celine-logo.png" alt=""></a>
    <p>celine</p>
  </div>
    <div class="th-1">
    <a href=""><img src="https://admin.thegioigiay.com/upload/manufacturer/1872661884_dior-logo.png" alt=""></a>
    <p>dior</p>
  </div>
  </div>
  
</div>











