

<div class="container">
    <h1>Giỏ Hàng</h1>
    <table>
        <tr>
          <th>Sản Phẩm</th>
          <th>Đơn Giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
        </tr>
        <tr>
          <td class="sp"><img src="https://admin.thegioigiay.com/upload/product/2023/05/giay-the-thao-nam-nike-air-jordan-1-retro-low-og-doernbecher-fd9665-351-phoi-mau-38-5-645eee8896f4d-13052023085728.jpg" alt=""> <div class="name-sp"> <p class="name-sp1"> Giày Thể Thao Nam Nike Air Jordan 1 Retro Low OG Doernbecher FD9665-351 Phối Màu-38.5</p>
           <p>size:40</p></div></td>
          <td class="price">9.900.000₫</td>
          <td><div class="number-button-container">
            <button class="number-button" (click)="decreaseNumber()">-</button>
            <span class="number-display">{{ number }}</span>
            <button class="number-button" (click)="increaseNumber()">+</button>
          </div></td>
          <td class="price-all">9.900.000₫</td>
        </tr>
        
      </table>
      <hr>
      <div class="thanhtoan">
       <div>
        <button class="tieptuc">< Tiếp tục mua hàng</button>
       </div>
       <div>
        <p>Tổng tiền: <span class="price-all">9.900.000₫</span></p>
        <button class="buy">Thanh Toán</button>
       </div>
      
      </div>
</div>
