<h1 mat-dialog-title>{{ actionBtn1 }} Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input formControlName="name" matInput placeholder="Name " />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Price</mat-label>
      <input formControlName="price" matInput placeholder="Price" />
    </mat-form-field>
    <div class="form-group">
      <label for="imgs">File</label>
      <input
        formControlName="imgs"
        id="imgs"
        type="file"
        multiple
        class="form-control"
        (change)="onFileChange($event)"
      />
      <div *ngIf="f.imgs.touched && f.imgs.invalid" class="alert alert-danger">
        <div *ngIf="f.imgs.errors.required">File is required.</div>
      </div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Product Desc</mat-label>
      <input formControlName="description" matInput placeholder="Description" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select formControlName="categoryId" placeholder="Category">
        <mat-option value="6475358884a103625328f3ac">nike</mat-option>
        <mat-option value="Vegetables">Vegetables</mat-option>
        <mat-option value="Electronic">Electronic</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Type</mat-label>
      <mat-select formControlName="type" placeholder="type">
        <mat-option value="Football">Bóng Đá</mat-option>
        <mat-option value="Sneaker">Sneaker</mat-option>
        <mat-option value="basketball">Bóng rổ</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sex</mat-label>
      <mat-select formControlName="sex" placeholder="sex">
        <mat-option value="Men">Nam</mat-option>
        <mat-option value="Woman">Nữ</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="addProduct()"
  >
    {{ actionBtn }}
  </button>
</div>
